@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Ubuntu:wght@500&display=swap');

.carousel-container{
  height: 100vh;
  background-color: black;
  color: rgb(152, 58, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
}

.gallery {
  height: 200px;
  width: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: gallery 20s linear infinite;
}

.gallery:hover{
  animation-play-state: paused;
}

.gallery:hover svg{
  opacity: 0.2;
  transition: all 1s;
}

.gallery span{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  /* have to divide number of images (--i) bye 360 */
  transition: all 1s;
}

.gallery span svg{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.178));
  transition: all 1s;

}

.gallery span svg:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 1s;
  transform: scale(1.2);
}

@keyframes gallery {
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg)
  }
}