@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
body, html{
  overflow-x: hidden;
 
}

.flex-with-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold{
  font-weight: bold;
}

.n-box1{
background: linear-gradient(145deg, #8a2ee6b6, #a437ff);
box-shadow:  5px 5px 12px #3d1466,
             -5px -5px 12px #f552ff;
             
}

.n-box2{
  border-radius: 50px;
  background: linear-gradient(45deg, #c94bff, #a93fe2);
  box-shadow:  7px -7px 14px #9337c4,
              -7px 7px 14px #e555ff;
}